@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');

html, body {
     line-height: 1.5;
}
h1, h2, h3,
h4, h5, h6 {
     font-family: 'Montserrat', Arial, Helvetica, sans-serif;
     font-weight: 600;
     color: #191919;
     
}
h1 {
     font-size: 7rem;
     font-weight: 300;
}
h2 {
     font-size: 4.5rem;
     margin-bottom: 10px;
}
h3{
     font-size: 3.8rem;
}
h4 {
     font-size: 2.8rem;
}
h5 {
     font-size: 2rem;
}
h6 {
     font-size: 1.8rem;
}
p, span {
     font-family: 'Montserrat', Arial, Helvetica, sans-serif;
     font-size: 1.8rem;
     font-weight: 300;
     color: #4D4D4D;
     margin-bottom: 2.2rem;
}
ul {
     margin-bottom: 2.2rem;
}
#navigation a {
     text-decoration: none;
     font-weight: 400;
     font-family: 'Montserrat', arial, Helvetica, sans-serif;
     font-size: 1.8rem;
     color: black;
     cursor: pointer;   
}
@media only screen and (min-width: 992px) {
     h1 {
          font-size: 9.6rem;
          font-weight: 300;
     }
     h2 {
          font-size: 6rem;
     }
     h3{
          font-size: 4.8rem;
     }
     h4 {
          font-size: 3.4rem;
     }
     h5 {
          font-size: 2.4rem;
     }
     h6 {
          font-size: 2rem;
     } 
}